---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
  firstName: "Benjamin",
  country: "France",
  occupation: "Software Engineer",
  hobbies: ["Coding", "Make cookies", "Train on the piano", "Play video games"],
};

const skills = [
  "Node.js",
  "TypeScript",
  "Laravel",
  "React",
  "Vue.js",
  "Astro",
  "Tailwind CSS",
  "Docker",
  "Kubernetes",
  "Git",
];

const skillColor = "crimson";
const fontSize = "2rem";

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout>
  {happy && <p>Today, I am happy</p>}

  <p>
    Hey! I'm {identity.firstName}, a {identity.occupation} living in {
      identity.country
    }. I am currently available for work using the following technologies:
  </p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <p>When I am not coding, I like to:</p>
  <ul>
    <li>{identity.hobbies[1]}</li>
    <li>{identity.hobbies[2]}</li>
    <li>{identity.hobbies[3]}</li>
  </ul>
</BaseLayout>

<style is:global define:vars={{ skillColor, fontSize }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill {
    color: var(--skillColor);
    font-size: var(--fontSize);
    font-weight: semibold;
  }
</style>
